<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xác nhận cài đặt lại mật khẩu</title>
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <link rel="shortcut icon" th:href="@{/icons/logo.png}" type="image/png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Toastify CSS -->
    <link href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" rel="stylesheet">

    <!-- Toastify JS -->
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

</head>
<body>
<section class="vh-100 gradient-custom backgr-color-white">
    <div class="container py-5 h-100">
        <div class="d-flex justify-content-center">
            <div class="form-login col-lg-5 col-xxl-5">
                <div class="header-top">
                    <h4 class="">Xác nhận đặt lại mật khẩu</h4>
                </div>

                <form class="content" action="/reset-password" method="post">
                    <div class="form-outline form-white mb-4">
                        <label class="form-label" for="email"> <span style="color: #ff4d4f;">*</span> Nhập mã xác nhận đã được gửi về email:</label>
                        <input type="text" id="email" name="confirmCode" required placeholder="Nhập mã xác nhận..." class="form-control input-email" />
                    </div>

                    <div class="form-outline form-white mb-4">
                        <label class="form-label" for="password"> <span style="color: #ff4d4f;">*</span> Mật khẩu mới:</label>
                        <input type="password" name="password" id="password" required placeholder="Nhập mật khẩu..." class="form-control input-pass" />
                    </div>

                    <button class="btn-login mb-3" type="submit">Đặt lại mật khẩu</button>
                </form>

            </div>
        </div>
    </div>
</section>

<script>
    const showToastMessage = message => {
        Toastify({
            text: message,
            duration: 5000,  // Thời gian hiển thị toast (ms)
            gravity: "top",  // Vị trí hiển thị toast (top, bottom, center)
            position: "center" // Vị trí chiều ngang (left, center, right)
        }).showToast();
    }
</script>

<script th:if="${showToast}" th:inline="javascript">
    let messageResponse = /*[[${messageResponse}]]*/ null;
    showToastMessage(messageResponse);
</script>

<script th:src="@{/js/register.js}"></script>
</body>
</html>